<div class="box2">
  <div class="box-inner">
    
    <div class="container">
      <%= form_with(model: @event, local: true) do |f| %>
        
        <div class="box-text">
          <%= f.label :text, "コメント内容" %><br />
          <%= f.text_area :text %>
        </div>

        <div class="box-submit">
          <%= f.submit "コメント"%>
        </div>
        
      <% end %>
    </div>

  </div>
</div>
